<!DOCTYPE html>
<html>
<head>
    <title>School Donations Dashboard</title>
    <link rel="stylesheet" href="../static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/lib/css/keen-dashboards.css">
    <link rel="stylesheet" href="../static/lib/css/dc.css">
    <link rel="stylesheet" href="../static/css/custom.css">
</head>
<body class="application">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">School Donations Dashboard</a>
        </div>
    </div>
</div>
<div class="container">
    <div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead">Market Price Daily</h1>
                <div id="minersrevenue01"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead">Average Block Size</h1>
                <div id="minersrevenue0"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead">Member Pool Count</h1>
                <div id="minersrevenue1"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead">Member Pool Growth</h1>
                <div id="minersrevenue2"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead">Member Pool Size</h1>
                <div id="minersrevenue3"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead">Miners Revenue</h1>
                <div id="minersrevenue4"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead">Number of Orphaned Blocks</h1>
                <div id="minersrevenue5"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead">Number of Transactions</h1>
                <div id="minersrevenue6"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead">Number of Transactions</h1>
                <h3>Excluding Chains Longer then 100</h3>
                <div id="minersrevenue7"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead">Number of Transactions</h1>
                <h3>Excluding Popular</h3>
                <div id="minersrevenue8"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead">Number of Transactions</h1>
                <h3>Per Block</h3>
                <div id="minersrevenue9"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead">Number of Unique Addresses</h1>
                <div id="minersrevenue10"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead">Output Volume</h1>
                <div id="minersrevenue11"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead">Total Bitcoins In Circulation</h1>
                <div id="minersrevenue12"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead">Trade Volume (Daily)</h1>
                <div id="minersrevenue13"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead">Transaction Fees Paid (Daily)</h1>
                <div id="minersrevenue14"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead">Transaction Fees Paid in United States Dollar ($)</h1>
                <div id="minersrevenue15"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead">Transactions Per Second</h1>
                <div id="minersrevenue16"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead">Number of Unspent Bitcoin Transactions</h1>
                <div id="minersrevenue17"></div>
            </section>
        </div>
    </div>
</div>
<hr>
<p class="small text-muted"> Data viz &#9829; from Code Institute</p>
<script src="../static/lib/js/jquery.min.js"></script>
<script src="../static/lib/js/bootstrap.min.js"></script>
<script src="../static/lib/js/crossfilter.js"></script>
<script src="../static/lib/js/d3.js"></script>
<script src="../static/lib/js/dc.js"></script>
<script src="../static/lib/js/queue.js"></script>
<script src="../static/lib/js/keen.min.js"></script>
<script src="../static/js/graph.js"></script>
</body>
</html>