<!DOCTYPE html>
<html>
<head>
    <title>Blockchain Bitcoin Charts</title>
    <link rel="stylesheet" href="../static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/lib/css/keen-dashboards.css">
    <link rel="stylesheet" href="../static/lib/css/dc.css">
    <link rel="stylesheet" href="../static/css/custom.css">
</head>
<body class="application">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">Blockchain Bitcoin Charts</a>
        </div>
    </div>
</div>
<div class="container">
    <div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="avg-block-size"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="bip-9-segwit"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="bitcoin-unlimited-share"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="blocks-size"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="cost-per-transaction-percent"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="estimated-transaction-volume-usd"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="hash-rate"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="market-cap"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="market-price"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="median-confirmation-time"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="mempool-count"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="mempool-growth"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="mempool-size"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="miners-revenue"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="my-wallet-n-users"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id=""></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="n-orphaned-blocks"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="n-transactions"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="n-transactions-excluding-chains-longer-than-100"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="n-transactions-excluding-popular"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="n-transactions-per-block"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="n-transactions-total"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="n-unique-addresses"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="nya-support"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="output-volume"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="total-bitcoins"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="trade-volume"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="transaction-fees"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="transaction-fees-usd"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="transactions-per-second"></div>
            </section>
        </div>
        <div class="col-12 container servicesstyle">
            <section>
                <h1 class="serviceshead"></h1>
                <div id="utxo-count"></div>
            </section>
        </div>
        </div>
    </div>
</div>
<hr>
<p class="small text-muted"> Data viz &#9829; from Code Institute</p>
<script src="../static/lib/js/jquery.min.js"></script>
<script src="../static/lib/js/bootstrap.min.js"></script>
<script src="../static/lib/js/crossfilter.js"></script>
<script src="../static/lib/js/d3.js"></script>
<script src="../static/lib/js/dc.js"></script>
<script src="../static/lib/js/queue.js"></script>
<script src="../static/lib/js/keen.min.js"></script>
<script src="../static/js/graph.js"></script>
</body>
</html>